a {
	display: inline-block;
	text-decoration: none;
}

img {
	vertical-align: top;
}

.body {
	font-family: 'Lato';
}

.is-releway {
	font-family: 'Raleway';
}
/*--header----------------------------------------*/
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}


.inner {
	width: 1100px;
	margin: 0 auto;
}


.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 15px 0;
	background-color: #fff;
	z-index: 1;
}

.header-left {
	float: left;
	text-align: center;
}

.header-right {
	float: right;
	text-align: center;
}

.bolt-gray {
	color: #4e4e4e;
}

.contact-btn {
	font-size: 12px;
	padding: 14px 12px;
	color: #fff;
	background-color: #74cfae;
	text-decoration: none;
	transition: all 0.3s ease;
}

.contact-btn:hover {
	color: #333;
}
/*----theme-wrapper -------------------------------------------*/
.main {
	padding-top: 70px;
}

.theme-wrapper {
	background-color: #f2f2f2;
	padding: 250px 0;
	text-align: center;
	width: 100%;
}

.theme-title {
	font-size: 90px;
	font-weight: 700;
	color: #74cfae;
	margin-bottom: 20px;
}

.theme-text {
	font-size: 30px;
	color: #c0c0c0;
}

/*----- iphone ---------------------------------------------*/

.intro-wrapper {
	background-color: #74cfae;
	padding-top: 50px;
	width: 100%;
}

.intro-container {
	display: flex;
}

.iphone-wrapper {
	width: 400px;
	text-align: center;
}

.text-wrapper {
	text-align: center;
	width: 700px;

}

.text-title {
	color: #fff;
	font-size: 24px;
}

.text-body {
	color: #fff;
	font-size: 20px;
	margin-top: 35px;
	line-height: 27px;
}

/*--- main-contents -----------------------------------------*/

.main-contents {
	width: 100%;
	background-color: #f2f2f2;
	padding: 60px 0 70px 0;
	text-align: center;
}

.contents-title {
	font-size: 24px;
	text-align: center;
	margin-bottom: 40px;
}

.contents-images {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 90px;
}

.contents-img {
	margin-left: 100px;
	opacity: 0.7;
	transition: all 0.3s ease;
}

.contents-img:hover {
	opacity: 1;
}


.contents-text-box {
	display: flex;
	justify-content: center;
}

.contents-text {
	font-size: 12px;
	color: #333;
	width: 400px;
	margin-right: 90px;
}

.contents-text-btn {
	color: #fff;
	padding: 14px 20px;
	background-color: #74cfae;
	text-decoration: none;
	transition: all 0.3s ease;
}

.contents-text-btn:hover {
	color: #333;
}

/*---- skills --------------------------------------------*/
.skills-wrapper {
	background-color: #4e4e4e;
	padding: 70px 0 100px 0;
	text-align: center;
	width: 100%;
}

.skills-title {
	color: #fff;
}

.skills {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.skill {
	margin-left: 180px;
}

.skill:first-child {
	margin-left: 0;
}

.programming-language {
	color: #fff;
	font-size: 16px;
	margin-top: 10px;
}

/*--- sns ----------------------------------------*/
.sns-wrapper {
	width: 100%;
	background-color: #f2f2f2;
	padding: 200px 0 200px 0;
	text-align: center;
}


.sns-wrapper-btn {
	color: #74cfae;
	width: 185px;
	padding: 20px 0;
	transition: all 0.3s ease;
}


.sns-wrapper-btn:hover {
	cursor: pointer;
	background-color: #fff;
}

/*--- footer ----------------------------------------*/
.footer {
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #74cfae;
	color: #fff;
	padding:20px 0 25px 0;
	text-align: right;
}
/* -- PCのみに適用 ---------------------------------------------*/
@media screen and (min-width:1200px) {
	.contents-img:nth-child(3n+1) {
	margin-left: 0;
	}

	.contents-img:nth-child(n+4) {
	margin-top: 80px;
	}
}

/*--- タブレット　----------------------------------------*/
@media only screen and (max-width:768px) and (max-width:1199px ) {
	.inner {
		width: 97%;
	}

	.intro-wrapper {
		padding: 50px 0 35px 0;
	}

	.intro-container {
		display: block;
	}

	.iphone-wrapper {
		margin-bottom: 20px;
		text-align: center;
		width: auto;
	}

	.text-wrapper {
		padding: 0 20px;
	}

	.text-wrapper p {
		font-size: 15px;
	}

	.contents-images {
		display: block;
		margin: 0 auto;
	}

	.contents-img {
		margin-left: 0;
		display: block;
	}

	.contents-img:nth-child(3n) {
		margin-bottom: 80px;
	}

	.contents-text-box {
		display: block;
		text-align: center;
	}

	.contents-text {
		width: auto;
		margin-right: 0;
		margin-bottom: 40px;

	}

	.skills {
		display: block;
	}

	.skill {
		margin-left: 0;
	}

	.programming-language {
		margin-bottom: 88px;
	}

	.sns-wrapper-btn {
		width: 130px;
	}
}

/*---- スマホ ------------------------------------------*/

@media screen and (max-width:767px) {
	.inner {
		width: 97%;
	}

	.

}






